@page "/device/edit/{id:int}"
@using PE01_proj.Client.Static;
@using PE01_proj.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Device</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditDevice" device="device" />

@code {
    [Parameter] public int id { get; set; }
    Device device = new Device();
    protected async override Task OnParametersSetAsync()
    {
        device = await
       _client.GetFromJsonAsync<Device>($"{Endpoints.DevicesEndpoint}/{id}");
    }
    async Task EditDevice()
    {
        await _client.PutAsJsonAsync($"{Endpoints.DevicesEndpoint}/{id}",
       device);
        _navManager.NavigateTo("/Devices/");
    }
}
