@page "/devices/"
@using PE01_proj.Shared.Domain;

@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using PE01_proj.Client.Static

@if (Devices == null)
{
    <div class=" alert alert-info">Loading Devices...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Cost</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var device in Devices)
            {
                <tr>
                    <td>@device.DevName</td>
                    <td>
                        <a href="/devices/view/@device.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/devices/edit/@device.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(device.Id))">
                            <span class="oi oi-delete"></span>
                        </button>

                       
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code{
    private List<Device> Devices;


    protected async override Task OnInitializedAsync()
    {
        Devices = await _client.GetFromJsonAsync<List<Device>>($"{Endpoints.DevicesEndpoint}");
    }
    async Task Delete(int deviceId)
    {
        var device = Devices.First(q => q.Id == deviceId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {device.DevName}");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.DevicesEndpoint}/{deviceId}");
            await OnInitializedAsync();

        }
    }
	
}