@page "/staff/edit/{id:int}"
@using PE01_proj.Client.Static;
@using PE01_proj.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Staff</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditStaff" staff="staff" />

@code {
    [Parameter] public int id { get; set; }
    Staff staff = new Staff();
    protected async override Task OnParametersSetAsync()
    {
        staff = await
       _client.GetFromJsonAsync<Staff>($"{Endpoints.StaffsEndpoint}/{id}");
    }
    async Task EditStaff()
    {
        await _client.PutAsJsonAsync($"{Endpoints.StaffsEndpoint}/{id}",
       staff);
        _navManager.NavigateTo("/Staffs/");
    }
}
